{
	admin off
}
:80 {
	@plausible path /js/script.js /api/event
	handle @plausible {
		rewrite /js/script.js /js/plausible.js
		reverse_proxy https://plausible.io {
			header_up Host {http.reverse_proxy.upstream.hostport}
		}
	}
}