{
	admin off
	http_port 8080
	auto_https off
}
:8080
log
respond /robots.txt 200
@plausible path /js/script.js /api/event
handle @plausible {
	rewrite /js/script.js /js/plausible.js
	reverse_proxy https://plausible.io {
		header_up Host {http.reverse_proxy.upstream.hostport}
	}
}
